# Ignore data folders
# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/uploads/

# Jupyter Notebook
.ipynb_checkpoints

# Models (large files)
*.h5
*.keras
!models/demo_model/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Project specific
debug.log
results/

# Ignore the Data folder
Data/
examp/

# Ignore virtual environments
venv/
.venv/
env/

# Ignore certain file types
*.pdf
*.sqlite3
*.csv
*.pth
*.png

# Ignore whole folders

evaluationScript/

# Ignore everything in the folder
# But not these files



Cancer_Classification.ipynb
manage.py
Nodules_Detector.ipynb
# All pdf files
*.pdf

.venv/
*.sqlite3

# All csv files
*.csv

# Ignore the cancer_classification folder
cancer_classification/


# Ignore the cancer_type folder
cancer_type/balanced_images/
cancer_type/processed_images/

cancer_stage/.ipynb_checkpoints/
cancer_stage/checkpoints/
cancer_stage/densenet121_checkpoints/
cancer_stage/densenet121_checkpoints_balanced/
cancer_stage/preprocessed_data/
cancer_stage/preprocessed_data_integrated/

cancer_type/.ipynb_checkpoints/
cancer_type/balanced_images/
cancer_type/processed_images/

PulmoScan/


media
