# Ignore the Data folder
Data/

# Ignore the examp folder
examp/

# Ignore the virtual environment
venv/
.venv/

# All pdf files
*.pdf

# All csv files
*.csv

# Ignore the Data folder
cancer_classification/

# Ignore the Data folder
cancer_stage/

cancer_stage/Data_understanding.py

# Ignore the Data folder
cancer_type/balanced_images/

cancer_type/processed_images/

balanced_images/
processed_images/
output/
logs/
checkpoints/
data/
1_preprocess.ipynb
2_patch_extraction.ipynb
augmentation_examples.png
balanced_category_distribution.png
balanced_split_distribution.png
cancer_distribution.png
*.png
*.log

