numpy<2
pandas
SimpleITK
jupyter
matplotlib>=3.9
ipympl
ipywidgets
scipy
seaborn
scikit-image
tensorflow==2.10
scikit-learn
openpyxl
lxml
pydicom
pascal-voc-tools==0.2.3
pascal-voc==2.1.12
ipykernel
ipywidgets